:root{
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --Tomato: hsl(4, 100%, 67%);
}

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}
*{
    box-sizing: border-box;
    
}

body{
    font-family: Roboto;
    background-color: var(--CharcoalGrey);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 16px;
}
.container{
    background-color: white;
    display: flex;
    width: 800px;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
}
.left{
    width: 60%;
}
.right{
    width: 40%;
}
.right img{
    width: 100%;
}

ul{
    list-style-image: url(../assets/images/icon-list.svg);
}

li{
    margin-bottom: 10px;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label{
    margin-bottom: 10px;
}

input{
    padding: 10px 20px;
    font-family: inherit;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--Grey);

}
button{
    margin-top: 20px;
    font-family: inherit;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--DarkSlateGrey);
    color: var(--White);
    cursor: pointer;
}
button:hover{
    background-color: var(--Tomato);
    transition: all 1s;
}
h1{
    font-size: 50px;
}

.hide{
    display: none;
}

.container-2{
    background-color: var(--White);
    width: 400px;
    padding: 40px;
    border-radius: 20px;
}

.container-2 h1{
    font-size: 40px;
}
.container-2 button{
    width: 100%;
}

@media (max-width:768px) {
    .container{
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
        padding: 0;
    }


    .container-2 h1{
        font-size: 30px;
    }
    .body{
        padding: 0;
        margin: 0;
    }
    .left{
        width: 100%;
        left: 20px;
    }
    .right img{
        content: url('../assets/images/illustration-sign-up-mobile.svg');
    }
    .right{
        width: 100%;

    }
    .form{
        width: 90%;
    }
    .container-2{
        min-height: 100vh;
    }
}